<mat-toolbar class="custom-toolbar">
    <span>Ristoranti</span>
    <span></span>
    <button mat-icon-button class="toolbar-button" (click)="return()">
      <mat-icon>keyboard_backspace</mat-icon>
      <span class="button-text">Torna Indietro</span>
    </button>
  </mat-toolbar>
  
  
  <div class="carousel-container">
    <div
      class="carousel-inner"
      [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
    >
      <div
        class="card"
        *ngFor="let card of cards; let i = index"
        [ngClass]="{ active: i === currentIndex }"
      >
        <img [src]="card.imageUrl" alt="Card Image" />
        <h3>{{ card.title }}</h3>
        <p>{{ card.description }}</p>
      </div>
    </div>
    <button class="carousel-button prev" (click)="prev()">&#10094;</button>
    <button class="carousel-button next" (click)="next()">&#10095;</button>
  </div>
  