

<div class="triangle-top-right"></div>
<img src="assets/landscape.jpeg" alt="Landscape" />

<div class="container">
  <div class="top-section">
    <img src="/assets/logo.png" alt="Montefusco" class="centered-image" />
  </div>

  <div class="middle-section">
        <h1 class="cormorant-garamond-bold">Benvenuti nel comune di Montefusco</h1>
  </div>

  <div class="bottom-section">
    <button (click)="goTo()" class="cormorant-garamond-bold">Procedi</button>
  </div>
</div>

<div class="triangle-bottom-left"></div>
