
<div class="background-container">
  <img src="assets/paesaggio_montefusco.jpg" alt="Landscape" class="background-image">
  
  <mat-toolbar class="transparent-toolbar">
    <span class="toolbar-title">Categorie</span>
  </mat-toolbar>

  <div class="example-button-container">
    <button mat-fab extended (click)="ristoranti()">
      <mat-icon>restaurant</mat-icon>
      Ristorazione
    </button>
  </div>

  <div class="example-button-container">
    <button mat-fab extended (click)="monumenti()">
      <mat-icon>favorite</mat-icon>
      Monumenti
    </button>
  </div>

  <div class="example-button-container">
    <button mat-fab extended (click)="servizi()">
      <mat-icon>local_post_office</mat-icon>
      Servizi
    </button>
  </div>

  <div class="example-button-container">
    <button mat-fab extended (click)="cantine()">
      <mat-icon>local_bar</mat-icon>
      Cantine
    </button>
  </div>

  <div class="example-button-container">
    <button mat-fab extended (click)="negozi()">
      <mat-icon>store_mall_directory</mat-icon>
      Negozi
    </button>
  </div>

  <div class="example-button-container">
    <button mat-fab extended (click)="alloggi()">
      <mat-icon>hotel</mat-icon>
      Alloggi
    </button>
  </div>

</div>
